/*--------- slider ---------*/
#slide {
    height: 415px;
    overflow: hidden;
    position: relative;
    width: 940px;
    z-index: 2;
}

.gallery {
    position: relative;
    width: 940px;
    z-index: 2
}

.items { display: none; }

.pag { position: relative; }

.img-pags {
    display: block;
    left: 0px;
    position: static;
    z-index: 1;
}

.img-pags ul { margin: 0 }

.img-pags li {
    display: block;
    height: 170px;
    margin-right: 20px;
    overflow: hidden;
    width: 200px;
}

.img-pags li a {
    border: #f4f4f4 5px solid;
    display: block;
    position: relative;
}

.img-pags li a img { }

.img-pags li a span {
    background: #fff;
    display: block;
}

.img-pags li.active a, .img-pags li a:hover { border: #CCC 5px solid; }

.img-pags li.active a img, .img-pags li a:hover img { }

.prev {
    background: url(../images/prev-1.gif) 0 0 no-repeat;
    bottom: 1px;
    display: block;
    height: 44px;
    left: 1px;
    position: absolute;
    width: 44px;
    z-index: 9999;
}

.next {
    background: url(../images/next-1.gif) 0 0 no-repeat;
    bottom: 1px;
    display: block;
    height: 44px;
    position: absolute;
    right: 1px;
    width: 44px;
    z-index: 9999;
}

.prev:hover, .next:hover { background-position: 0 bottom; }