* {
    margin: 0;
    padding: 0;
}

.slider {
    background: #292929;
    height: 415px;
    margin: 0px;
    width: 940px;
}

.items { display: none; }

.pagination {
    bottom: 20px;
    left: 294px;
    position: absolute;
    z-index: 98;
}

.pagination ul { margin: 0px 0px 0 0; }

.pagination li {
    float: left;
    margin: 0 7px 0 0px;
}

.pagination li a {
    background: url(../images/pagination.png) right 0 no-repeat;
    display: block;
    height: 13px;
    width: 13px;
}

.pagination li.current a { background-position: left 0; }

.pagination li:hover a { background-position: left 0; }

.banner {
    display: block;
    left: 685px;
    position: absolute;
    top: 37px;
    width: 235px;
    z-index: 99;
}

.banner p { }

.font-1 {
    color: #01a5ca;
    font-size: 45px;
    letter-spacing: -1px;
    line-height: 55px;
}

.font-1 span {
    display: block;
    margin-top: -15px;
}

.font-2 {
    color: #949494;
    font-size: 17px;
    line-height: 28px;
    margin-top: 19px;
}

.banner a {
    background: #3f3f3f;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    margin-top: 30px;
    padding: 12px 27px 13px 27px;
    text-transform: uppercase;
}

.banner a:hover { background: #01a5ca; }