/* Global properties ======================================================== */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: url(../images/bg.gif) center 0 repeat;
    border-top: #292929 6px solid;
    color: #292929;
    font: 14px/25px Arial, Helvetica, sans-serif;
    min-width: 960px;
}

.ic {
    background: #fff;
    border: 0;
    color: #f00;
    float: right;
    font-size: 10px;
    line-height: 10px;
    margin: -220% 0 0 0;
    overflow: hidden;
    padding: 0;
    width: 50%;
}

.main {
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 960px;
}

/***********************************************************************/

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover { text-decoration: none; }

a.button {
    background: #f4f4f4;
    color: #01a5ca;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    padding: 12px 16px 13px 16px;
    text-transform: uppercase;
}

a.button:hover {
    background: #d3d1d1;
    color: #333;
}

a.link {
    color: #01a5ca;
    cursor: pointer;
    text-decoration: none;
}

a.link:hover { text-decoration: underline; }

.color-1 { color: #01a5ca; }

a.color-1:hover { color: #000; }

.font-3 {
    color: #292929;
    font-size: 17px;
    line-height: 33px;
}

h2 {
    color: #292929;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 36px;
}

ul {
    list-style-image: none;
    margin: 0;
    padding: 0;
}

ul.list-1 li {
    background: url(../images/marker-1.gif) 0 11px no-repeat;
    line-height: 25px;
    padding: 0px 0 5px 12px;
}

ul.list-1 li a {
    color: #292929;
    font-size: 14px;
    line-height: 25px;
}

ul.list-1 li a:hover { color: #01a5ca; }

ul.list-2 li {
    background: url(../images/marker-1.gif) 0 11px no-repeat;
    line-height: 25px;
    padding: 0px 0 5px 12px;
}

ul.list-2 li a {
    color: #01a5ca;
    font-size: 14px;
    line-height: 25px;
}

ul.list-2 li a:hover { color: #292929; }

/******************************************************************/

.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
    width: 100%;
}

.wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.wrap {
    overflow: hidden;
    position: relative
}

.extra-wrap { overflow: hidden; }

.fleft { float: left; }

.fright { float: right; }

.img-indent {
    float: left;
    margin: 3px 30px 0px 0;
}

.last { margin-right: 0px !important; }

.img-radius { border-radius: 4px; }

.top-1 { padding-top: 35px; }

.top-2 { padding-top: 25px; }

.top-3 { margin-top: 23px; }

.top-4 { margin-top: 33px; }

.top-5 { margin-top: 18px; }

.top-6 { margin-top: 12px; }

.left-1 { padding-left: 20px; }

.bot-0 {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.pad-1 { margin: 13px 0px 12px 0px; }

.p1 { padding-bottom: 25px; }

.p2 { padding-bottom: 5px; }

.p3 { padding-bottom: 12px; }

.p4 { padding-bottom: 15px; }

.p5 { padding-bottom: 10px; }

.p6 { padding-bottom: 20px; }

/*********************************header*************************************/

header {
    overflow: hidden;
    padding-bottom: 17px;
    position: relative;
    width: 100%;
    z-index: 101;
}

h1 {
    float: left;
    margin: 43px 0 0px 29px;
    margin-bottom: -128px;
    position: relative;
    z-index: 30;
}

h1 a {
    color: #01a5ca;
    display: inline-block;
    font-size: 53px;
    letter-spacing: 1px;
    line-height: 65px;
}

h1 a strong {
    color: #292929;
    display: block;
    font-weight: normal;

    margin-top: -21px;
}

.social-icons {
    margin-top: 0px;
    overflow: hidden;
    text-align: right;
}

.social-icons a {
    display: inline-block;
    float: right;
    height: 23px;
    width: 23px;
}

.icon-1 { background: url(../images/icon-1.png) 0 0 no-repeat; }

.icon-2 {
    background: url(../images/icon-2.png) 0 0 no-repeat;
    margin-left: 7px;
}

.social-icons a:hover { background-position: 0 bottom; }

.member-area {
    float: right;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
    text-align: right;
}

.member-area a {

    color: red;
    display: inline-block;
    float: right;
    font-size: 16px;
    margin: 0px 0 0px 10px;
    text-align: center;
}

nav {
    margin-right: 30px;
    overflow: hidden;
    width: 100%;
}

ul.menu {
    float: right;
    margin-top: 5px;
}

ul.menu li {
    float: left;
    line-height: 20px;
    margin: 13px 0 0px 44px;
}

ul.menu li a {
    color: #292929;
    display: inline-block;
    font-size: 17px;
    line-height: 22px;
}

ul.menu li a:hover, ul.menu li.current a { color: #01a5ca; }

.bg-img {
    background: url(../images/bg-img.gif) 0 0 no-repeat;
    height: 6px;
    left: -152px;
    position: absolute;
    top: -6px;
    width: 150px;
}

/*********************************contact form*************************************/

#contactForm {
    float: inherit;
    height: 30px;
    left: 319px;
    position: absolute;
    top: 86px;
    width: 58%;
    z-index: 1;
}

/*********************************signupPage1************************************/

#signupPage1 {
    border: 1px solid #d5d9da;
    border-bottom-color: #b8d4ea;
    border-collapse: collapse;
    border-top-color: #b6d5ea;
    height: auto;
    margin: 0;
    padding: 0;
    width: 80%;
}

/*********************************Login Page************************************/

#loginTable {
    display: block;
    float: right;
    margin-bottom: 400px;
    margin-top: 210px;
    width: 10%;
}

/*********************************Order Summary Page************************************/

#summaryTable { border-collapse: collapse; }

#summaryTable td { border: 2px solid white; }

/*********************************Member Account************************************/

/*********************************content*************************************/

#content { width: 100%; }

.box-shadow {
    background: #fff;
    box-shadow: 0px 0px 5px #dbdbdb;
}

.img-border { border: #f4f4f4 5px solid; }

.block-1 { padding: 25px 30px 29px 44px; }

.block-2 { padding: 25px 30px 45px 44px; }

.block-3 { padding: 25px 30px 25px 44px; }

.col-1 {
    float: left;
    margin-right: 65px;
    width: 575px;
}

.col-2 {
    float: left;
    width: 225px;
}

.col-3 {
    float: left;
    margin-right: 50px;
    width: 225px;
}

.col-4 {
    float: left;
    width: 590px;
}

.form-search {
    margin: 27px 0px 0 0px;
    width: 210px;
}

#form-search input {
    border: #f4f4f4 1px solid;
    color: #bebebe;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 18px;
    margin-top: 19px;
    padding: 11px 9px 12px 11px;
    vertical-align: top;
    width: 188px;
}

.search_button {
    background: #f4f4f4;
    color: #01a5ca;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    margin: 15px 0px 0 0;
    padding: 12px 28px 13px 28px;
    text-transform: uppercase;
}

.search_button:hover {
    background: #d3d1d1;
    color: #333;
}

.box-2 > div {
    float: left;
    margin-right: 30px;
    width: 170px;
}

.box-2 p.color-1 { margin-top: 5px; }

.border-1 {
    border-bottom: #e5e5e5 1px solid;
    margin-bottom: 9px;
    padding-bottom: 15px;
}

/****************************footer************************/

footer {
    margin-top: 30px;
    overflow: hidden;
    padding: 32px 0 45px 0;
    position: relative;
    text-align: center;
    width: 100%;
}

footer p { color: #1e1e1e; }

/**********************form**********************/

.map {
    height: 200px;
    margin: 20px 0 0 0;
    width: 200px;
}

.map iframe {
    height: 200px;
    width: 200px;
}

dl { margin: 12px 0px 0 0px; }

dl dt { }

dl dd span {
    display: block;
    float: left;
    width: 70px;
}

dl dd { }

dl dd a { text-decoration: underline !important; }

dl dd a:hover {
    color: #333;
    text-decoration: underline;
}

#form {
    margin: 20px 0 0px 0px;
    width: 575px;
}

#form input {
    background: #fff;
    border: #f4f4f4 1px solid;
    color: #bebebe;
    float: left;
    font: 14px Arial, Helvetica, sans-serif;
    height: 17px;
    outline: medium none;
    padding: 11px 9px 13px 11px;
    width: 278px;
}

#form textarea {
    background: #fff;
    border: #f4f4f4 1px solid;
    color: #bebebe;
    float: left;
    font: 14px Arial, Helvetica, sans-serif;
    height: 192px;
    margin: 0px 0 0 0;
    outline: medium none;
    overflow: auto;
    padding: 12px 0px 0px 11px;
    resize: none;
    width: 562px;
}

#form label {
    display: block;
    min-height: 53px;
    overflow: hidden;
    position: relative;
}

.btns {
    padding-top: 10px;
    text-align: right;
    width: 575px;
}

.btns a {
    display: inline-block;
    margin: 0 0px 0 10px;
}